// VARIABLES

$margin_10: 10px;
$margin_20: 20px;

// APP CONTAINER

.app-container{
	margin: 0 auto;
	padding: 20px;
	max-width: 1000px;
	.character-list{
		display: flex;
		flex-wrap: wrap;
		margin-left: #{$margin_10 * -1};
		margin-right: #{$margin_10 * -1};
		.character-item{
			position: relative;
			margin: $margin_10;
			width: calc(33.333% - #{$margin_10 * 2});
			background-color: #000;
			&:hover{
				cursor: pointer;
				.name-container{
					z-index: 999;
				}
				.image-container{
					opacity: 0.3;
				}
			}
			.name-container{
				position: absolute;
				height: 100%;
				width: 100%;
				z-index: -9999;
				.character-name{
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					color: #fff;
				}
			}
			.image-container{
				height: 100%;
				padding-top: (100% / 1);
				transition: .2s all;
				.character-pic{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 99;
					opacity: 1;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: 50% 50%;
				}
			}
		}
	}
}

// MODAL

.modal{
	.modal-dialog{
		max-width: initial;
		margin-left: $margin_20;
		margin-right: $margin_20;
		.modal-content{
			.modal-body{
				display: flex;
				.left-column{
					margin-right: $margin_10;
				}
				.right-column{
					.info-header{
						// text-decoration: underline;
						border-bottom: 1px solid #000;
					}
				}
			}
		}
	}
}

